# OS
.DS_Store

# Dependencies & builds
node_modules/
dist/

# Env & local config
.env
.env.*.local
.vercel

# Logs & debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editors
.vscode/
.idea/
